<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.instagram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".controller.Controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activity.AddFriendActivity"></activity>
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.PostActivity" />
        <activity android:name=".activity.ViewProfileActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.FrontPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserProfileActivity" />
        <activity
            android:name=".activity.FilterActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
    </application>

</manifest>